/* Общие стили */
.App {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f9; /* Светлый фон */
  color: #333; /* Темный текст */
  padding-bottom: 80px; /* Отступ снизу для кнопок */
}

h1 {
  text-align: center;
  margin: 20px 0;
  color: #333; /* Темный цвет для заголовка */
}

/* Кнопки вкладок */
.tab-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  border-top: 2px solid #ddd;
  z-index: 10; /* Кнопки будут всегда поверх */
}

.tab-buttons button {
  padding: 12px 24px;
  font-size: 1em;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: #4CAF50;
  color: white;
  margin: 0 10px;
}

.tab-buttons button:hover {
  background-color: #45a049;
}

.active-tab {
  background-color: #3e8e41; /* Цвет активной кнопки */
}

/* Стили для вкладок */
.clicking-tab, .upgrades-tab {
  display: block;
  margin-top: 20px;
  text-align: center;
  width: 100%;
  padding-bottom: 80px; /* Чтобы кнопки не перекрывали контент */
}

/* Скрытие вкладок */
.upgrades-tab {
  display: none; /* Изначально скрыта */
}

.energy-board {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 1.2em;
}

.energy-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

/* Стили для картинки сигмы */
.image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.clickable-image {
  width: 200px;
  height: auto;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.clickable-image:hover {
  transform: scale(1.1);
}

/* Стили для прокачки */
.upgrade-container, .energy-upgrades {
  margin: 20px 0;
}

.upgrade-button, .energy-upgrade-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 1em;
  margin: 10px 0;
  cursor: pointer;
}

.upgrade-button:hover, .energy-upgrade-button:hover {
  background-color: #45a049; /* Цвет кнопки при наведении */
}
